$coins: ("edu", "energy", "cult", "tech", "pub");

$coin-size: 30px;
@each $coin in $coins {
  img.coin.#{$coin} {
    @include rounded($coin-size/2);
    @include shadow();
    background-image: url("/images/coins/#{$coin}.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: $coin-size;
    min-width: $coin-size;
    max-width: $coin-size;
    width: $coin-size;
  }
}

#coin-descs {
  @include box();
  @include flex();
  @include flex-direction(row);
  margin: 0 auto;
  max-width: 600px;
  padding: 0 25px;

  .coin-desc {
    @include box();
    @include flex-size(1);
    margin: 0;
    text-align: center;
    width: 100%;

    img {
      @include rounded($coin-size);
      height: $coin-size * 2;
      min-width: $coin-size * 2;
      max-width: $coin-size * 2;
      width: $coin-size * 2;
    }

    .coin-text {
      font-size: 14px;
      font-weight: 700;
      margin: 10px 0 0;

      @media screen and (max-width: 415px) {
        margin: 5px 0 0 15px;
      }

    }

  }

}
