footer {
  margin-top: 25px;
  padding: 10px 0 15px;
  position: relative;
  text-align: center;
  width: 100%;

  &.sticky {
    bottom: 0;
    left: 0;
    position: fixed;
  }

  a {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 10px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;

    i {
      margin: 2px 5px 0 0;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

  }

  #gobierno {
    bottom: 15px;
    left: 15px;
    margin: 0;
    padding: 0;
    position: absolute;

    img {
      @include shadow();
      width: 60px;
    }

  }

  #moiti {
    bottom: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;

    img {
      width: 200px;
    }

  }

}

@media only screen and (max-width : 550px) {

  footer {

    #gobierno img {
      height: 40px;
      width: 40px;
    }

  }

}
