footer {
  @include box();
  @include flex();
  @include flex-wrap();
  @include align-items(center);
  @include justify(space-between);
  margin-top: 25px;
  padding: 25px;
  position: relative;
  text-align: center;
  width: 100%;

  &.sticky {
    background-color: $white;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .links {
    text-align: left;
    a {
      @include transition(color 0.1s);
      color: $black;
      display: block;
      font-size: 13px;
      padding: 4px 20px 4px 0;
      text-decoration: none;
      width: 250px;

      i {
        display: inline-block;
        margin: 2px 5px 0 0;
        text-align: center;
        width: 14px;
      }

      &:hover {
        color: $green;
      }

    }
  }

  .logos {
    border: 0;
    margin: 15px 0;
    min-width: 300px;
    text-align: left;
    text-decoration: none;
    #gobierno {
      text-decoration: none;
      img {
        @include shadow();
        width: 60px;
      }

    }

    #moiti {
      border: 0;
      display: inline-block;
      margin: 5px 0 5px 15px;
      text-decoration: none;

      img {
        width: 200px;
      }

    }
  }

}
