.intro {
  background-color: $white;
  color: $black;
  padding: 25px 0 0;
  position: relative;

  h2 {
    font-size: 30px;
    margin-top: 25px;
    padding: 0 25px;
  }

  & > h3 {
    font-size: 20px;
    margin-top: 15px;
    padding: 0 25px;
    text-align: center;

    a {
      @include transition(border-color 0.1s);
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 2px 0;
      color: $green;
      text-decoration: none;

      &:hover {
        border-color: $green;
      }
    }

  }

  p {
    @include box();
    margin: 25px auto 5px;
    max-width: 600px;
    padding: 0 25px 25px;
    width: 100%;
  }

  .twitter-timeline {
    @include box();
    background-color: white;
    color: rgb(41, 47, 51);
    font-family: Helvetica, Roboto, 'Segoe UI', Calibri, sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0 20px !important;
    text-align: center;
    text-decoration: none;
    width: 300px !important;

    .title {
      border-bottom: 1px solid rgba(15, 70, 100, 0.117647);
      padding: 10px;
      text-align: left;

      span {
        color: rgb(136, 153, 166);
        font-size: 12px;
        font-weight: 400;
        vertical-align: baseline;
      }
    }

    i {
      color: rgba(15, 70, 100, 0.117647);
      margin: 20px auto;
    }
  }

  iframe {
    height: auto !important;
    margin: 70px 20px 40px !important;
    width: 300px !important;
  }

  &.flex {
    @include flex();
    @include flex-direction(row);

    @media screen and (max-width: 600px) {
      @include flex-direction(column);
      .twitter-timeline, iframe {
        display: none !important;
      }
    }
  }

}
