.intro {
  color: #eee;
  padding: 25px 0;
  position: relative;

  h2 {
    @include text-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
    font-size: 30px;
  }

  p {
    @include box();
    @include text-shadow(0 1px 3px rgba(0, 0, 0, 0.75));
    margin: 25px auto 5px;
    padding: 0 25px;
    width: 50%;
  }
}
