#wall {
  @include flex();
  @include flex-wrap();
  padding: 15px;

  .champ {
    @include shadow();
    background-color: white;
    display: inline-block;
    margin: 15px;
    min-width: 200px;
    width: 200px;

    .champ-pic {
      @include background-stretch();
      display: block;
      height: 200px;
      position: relative;
      width: 100%;

      .coin {
        right: 5px;
        position: absolute;

        @for $n from 1 through 5 {
          &:nth-last-child(#{$n}) {
            bottom: ($n - 1) * $coin-size/2 - $coin-size - 11;
          }
        }

      }

    }

    h3 {
      font-size: 15px;
      margin: 9px $coin-size + 10px 3px 10px;

      a {
        @include transition(border-color 0.1s);
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 1px 0;
        color: $black;
        text-decoration: none;

        &:hover {
          border-color: $black;
        }
      }
    }

    sub {
      color: #888;
      display: block;
      font-size: 12px;
      margin: 0 $coin-size + 10px 10px 10px;
    }

    p {
      @include box();
      margin: 0;
      overflow: hidden;
      padding: 0 20px 20px;
      text-overflow: ellipsis;
      width: 100%;
    }

  }
}
