#wall {
  @include flex();
  @include flex-wrap();
  padding: 15px;

  .champ {
    @include shadow();
    background-color: white;
    display: inline-block;
    margin: 15px;
    min-width: 225px;
    width: 225px;

    .champ-pic {
      @include background-stretch();
      display: block;
      height: 250px;
      position: relative;
      width: 100%;

      .coin {
        left: 5px;
        position: absolute;

        @for $n from 1 through 5 {
          &:nth-last-child(#{$n}) {
            bottom: ($n - 1) * $coin-size/2 - $coin-size - 5;
          }
        }

      }

    }

    h3 {
      margin: 10px 10px 0 $coin-size + 10px;
    }

    sub {
      color: #888;
      display: block;
      margin: 0 10px 10px $coin-size + 10px;
    }

    p {
      @include box();
      margin: 0;
      overflow: hidden;
      padding: 0 20px 20px;
      text-overflow: ellipsis;
      width: 100%;
    }

  }
}
